<div class="center jumbotron-fluid">
    <h1>welcome!!</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
  
  <%= link_to "Log in", login_path, class: "btn btn-success" %>
</div>