<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
 <%if logged_in?%>
  <header class="bmd-layout-header navbar-fixed-top" style="z-index: 1; ">
    <div class="navbar navbar-light" style="background-color:#8EF1FF;">
      <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
        <span class="sr-only">Toggle drawer</span>
        <i class="fas fa-bars"></i>     
      </button>
        <h4> 
          <div class = "nav_title" >
            <%= @nav_title %>
          </div>
        </h4>
    </div>
  </header>
  <div id="dw-s2" class="bmd-layout-drawer bg-faded">
     <ul class="navbar-nav">
        <button class="btn btn-primary"><%= link_to "Profile", current_user %></button>
        <button class="btn btn-primary"><%= link_to "Settings", edit_user_path(current_user)%></button>
        <button class="divider"></button>
        <button class="btn btn-secondary">
          <%= link_to "Log out", logout_path, method: :delete,data:{confirm: "You sure?"} %>
        </button>
      </ul>
  </div>
  
  <% end %>
  


  